@model SanTsgProje.Web.Controllers.HomeController
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width"/>
    <title>SanTsgProje</title>
</head>
<body>
    <h1>SAN TSG PROJE</h1>
<form formmethod="post" asp-controller="Home" asp-action="Search">
     <td><input type="search" name="Query"/></td>
     <td><input type="submit" value="Submit"/></td>
</form>
</body>


</html>

