<!DOCTYPE html>

<html>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Cities</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td><a href="#" form formmethod="post" >@item.Id</a></td>
                        <td><a href="#">@item.Name</a></td>*@
                             <td><a asp-controller="Search" asp-action="PriceSearch" asp-route-CityId="@item.Id" >@item.Name</a></td>
                    </tr>
                    
                }

            </tbody>
        </table>
    </body>
</html>


